---
import Layout from '../layouts/Layout.astro';

import Seccion from '../components/Seccion.astro';

---

<Layout title="Bienvenido a mi Repositorio">
	<main>

<div class="content"> <img src="/public/Imagen de WhatsApp 2024-10-29 a las 22.13.51_315dd2b7.jpg" alt="Alejandro"></div>

		<Seccion  
		title="¿Quien Soy?"
		body="mi nombre es alejandro caballero tengo 22 años ,soy estudiante de la carrera de ingenieria en sistemas, me gusta mucho el area del hardware,  de igual manera  el area de base de datos.  "
		/>


		<section > 
		<ul class="experiencia">
			<h3>Experiencia en el fronend </h3>
			<li>Css</li>
			<li>Html</li>
			<li>DevEsxtreme</li>

		</ul>
		
		
    <ul class="experiencia">
		<div><h3>Experiencia en el fronend </h3>
		<li>Mysql</li>
		<li>C#</li>
		<li>Java</li>

	</ul>

		
	
	</section>






		




		


	</main>


</Layout>



<style>
	.experiencia{
		list-style: none;
		
		padding: 5cqb;
		background-color: #ffffff;
		text-align: center;
		background-size: 400%;
		
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);

	}
	

	.content{
		background: rgb(204, 201, 201);
		width: 100%;
		height: auto;
		align-items: center;
		justify-content: center;
		display: flex;
		padding: 40px;
	}
	img{
		width: 130px;
		height: auto;
		border-radius: 10px;
		
	}





	
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
