---
import Layout from "../layouts/Layout.astro"
import Directorios from '../components/Directorios.astro';
import Seccion from "../components/Seccion.astro"
---

<Layout title="Trabajos">
    <main>


        <Seccion  
		title="proyectos"
		body="referencias a todos mis proyectos y al repositorio con todos mis trabajos "
		/>

        <Directorios


        title=" Proyectos "
        body="enlace hacia proyectos en la nube de git-hub"
        href="https://github.com/alejandro7345/Proyectos-"
        />

        <Directorios
        title="Trabajos "
        body="Trabajos reealizados en C#"

        href="https://github.com/alejandro7345/java-codes"
/>
    
		
		
    </main>
</Layout>
<style>


</style>